@font-face {
    font-family: "LucidaGrande";
    src: url(assets/apple-font.ttf);
}

* {
    margin: 0;
    padding: 0;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

p {
    font-family: "LucidaGrande";
    font-size: 0.85rem;
    text-wrap: wrap;
}

h1 {
    color: rgb(255, 225, 0);
    font-family: "Arial";
    font-size: 1rem;
    text-wrap: wrap;
}

h2 {
    /* margin: 1%; */
    color: rgb(255, 225, 0);
    font-family: "Arial";
    font-size: 0.75rem;
    text-wrap: wrap;
}

button {
    margin-left: 3%;
    margin-top: 3%;
    background-color: transparent;
    width: 20rem;
    height: 3rem;
    border: none;
    text-align: left;
}

a {
    font-family: "LucidaGrande";
    font-size: 0.85rem;
    color: black;
    font-style: normal;
    text-decoration: none;
    text-wrap: wrap;
}

.logo {
    display: flex;
}

.logo img {
    filter: drop-shadow(0 0 0.5rem rgb(255, 225, 0));
}

.logo h1 {
    margin-left: 3%;
    margin-top: 2%;
}

.logo a {
    width: 17%;
    margin-left: 5%;
    margin-top: 2%;
}

.logo img {
    margin-left: 2%;
    margin-top: 1%;
}

.desktop {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    filter: drop-shadow(0 0 0.75rem white);
}

.folder1 {
    margin: 6%;
    width: 6%;
}

.folder2 {
    margin: 4%;
    width: 3%;
}

.folder3 {
    margin: 6%;
    width: 12%;
}

.folder4 {
    margin: 1%;
    width: 11%;
}

.folder5 {
    margin-left: 7%;
    width: 5%;
}

.folder6 {
    margin: 2%;
    width: 11%;
}

.folder7 {
    margin: 4%;
    width: 10%;
}

.folder8 {
    margin: 2%;
    width: 5%;
}

.folder9 {
    margin: 1%;
    width: 7%;
}

.folder10 {
    width: 30%;
}

.folder11 {
    margin: 5%;
}


@media screen and (max-width: 950px) {
    .folder1 {
        width: 30%;
        margin: auto;
    }
    .folder2 {
        width: 30%;

        margin: auto;
    }
    .folder3 {
        width: 30%;

        margin: auto;
    }
    .folder4 {
        width: 30%;

        margin: auto;
    }
    .folder5 {
        width: 30%;

        margin: auto;
    }
    .folder6 {
        width: 30%;

        margin: auto;
    }
    .folder7 {
        width: 30%;

        margin: auto;
    }
    .folder8 {
        width: 30%;

        margin: auto;
    }
    .folder9 {
        width: 30%;

        margin: auto;
    }
    .folder10 {
        width: 30%;

        margin: auto;
    }
    .folder11 {
        width: 30%;

        margin: auto;
    }

}